<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<settings>
			<setting name="SitecoreFundamentals.D365.D365Resource" value="https://[CHANGEME].dynamics.com"/>
			<setting name="SitecoreFundamentals.D365.BaseAddress" value="/api/data/v9.2/"/>
			<setting name="SitecoreFundamentals.D365.Authority" value="https://login.microsoftonline.com"/>
			<!-- These should always by 50 unless testing. In that case no less than 2. -->
			<setting name="SitecoreFundamentals.D365.Cache.AuthCacheLifetimeMinutes" value="50"/>
			<setting name="SitecoreFundamentals.D365.Cache.PicklistCacheLifetimeMinutes" value="50"/>
		</settings>
		<controlSources>
			<source mode="on" namespace="Sitecore.Foundation.Integrations.Controls" assembly="Sitecore.Foundation.Integrations" prefix="d365PicklistMarketingNiche"/>
			<source mode="on" namespace="Sitecore.Foundation.Integrations.Controls" assembly="Sitecore.Foundation.Integrations" prefix="d365PicklistMarketingRegion"/>
		</controlSources>
	</sitecore>
</configuration>